{% extends "base.html" %}
{% block title %}Favor Detail{% endblock title %}
{% block content%}
    <h1>Favor Detail</h1>
    <p>Description: {{ favor.description }}</p>
    <p>Price: ${{ favor.price }}</p>
    <p>Created at (User's Time Zone): {{ created_tz }}</p>
    <p>Created at (UTC): {{ created_utc }}</p>
    <p>Updated at (User's Time Zone): {{ updated_tz }}</p>
    <p>Updated at (UTC): {{ updated_utc }}</p>

    <form action="{% url 'favor_update' favor.pk %}" method="get" style="display: inline;">
        <button type="submit">Update</button>
    </form>

    <form action="{% url 'favor_delete' favor.pk %}" method="get" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>

    <form action="{% url 'add_review' favor.pk %}" method="get" style="display: inline;">
        <button type="submit">Create Review</button>
    </form>
{% endblock content %}
